@import "../../global";
$textColor: #858585;

.grid
  align-content: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-bottom:
  &-author
    color: $textColor;
    margin: 10px 0px;
    font-size: 12px;
  &-row
    @include cell;
    background-color: transparent;
  &-score
    color: $textColor;
    margin-top: 20px;
    font-size: 20px;
  &-hint
    color: $textColor;
    font-size: 13px;
  &-over
    margin-bottom: 25px;
    color: #e05a5a;
    font-size: 20px;
    min-height: 27px;